PORT=3100

# DB MYSQL
DB_HOST=
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

## JWT AUTH
# generate with terminal: openssl rand -hex 32
JWT_SECRET=
JWT_EXPIRES_IN=7d

# GOOGLE CLIENT
# created: google-cloud-console
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# FLAG
FRONTEND_URL=